<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="C:\Users\Administrator\AppData\Local\Python\pythoncore-3.14-64\python.exe|C:\Users\Administrator\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\Users\Administrator\CascadeProjects\file-manager" />
  </appSettings>
</configuration>
